.hover{
    transition: 0.3s ease-in-out;
}

.hover:hover{
    transform: scale(1.05);
}

@media (max-width: 770px) {
    .fonttableau{
        font-size: 16px;
        
    }
}
@media (max-width: 558px) {
    .fonttableau{
        font-size: 10px;
        
    }
}